* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.cdk-overlay-container {
  display: none;
}

.mdc-line-ripple::before {
  border-bottom-width: 1px !important;
}

.mat-mdc-text-field-wrapper {
  padding: 0 0 0 1rem !important;
}

.mat-mdc-paginator-range-label {
  @media (max-width: 450px) {
    margin: 0 !important;
  }
}

.mat-mdc-paginator-container {
  @media (max-width: 450px) {
    justify-content: space-between !important;
  }
}

.mat-mdc-paginator-navigation-next {
  @media (max-width: 450px) {
    margin-left: -1.6rem !important;
  }
}
