<header>
  <nav>
    <a class="home-page-link" routerLink="/">Home Page</a>
    @if (auth.isAuthenticated$ | async) {
    <div class="logout-container">
      <img
        src="{{ user.picture }}"
        height="45"
        width="45"
        class="profile-picture"
        alt="Profile picture"
      />
      <div class="user-info">
        <p>Welcome,</p>
        <p>{{ user.name }}</p>
      </div>
      <button
        class="nav-button"
        (click)="auth.logout({ logoutParams: { returnTo: document.URL } })"
      >
        Logout
      </button>
    </div>

    } @else {
    <button class="nav-button" (click)="auth.loginWithPopup()">Login</button>
    }
  </nav>
</header>

<router-outlet></router-outlet>
