$primary-color: #1b4d3e;
$secondary-color: #006a4e;
$background-color: #c2e3f0;
$white-color: #fff;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

header {
  background-color: $background-color;
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 1.5rem 3rem;
  }

  @media (max-width: 420px) {
    padding: 0.5rem 1rem;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-button {
    padding: 1.2rem 3rem;
    font-size: $font-size-large;
    color: $white-color;
    text-decoration: none;
    border-radius: 0.6rem;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    height: fit-content;

    &:hover {
      background-color: $secondary-color;
    }

    @media (max-width: 550px) {
      font-size: $font-size-small;
      width: 8rem;
      padding: 0.8rem 1rem;
    }
  }

  .home-page-link {
    color: $primary-color;
    font-size: $font-size-large;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 550px) {
      font-size: $font-size-medium;
    }
  }
}

.profile-picture {
  cursor: pointer;
}

.logout-container {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $font-size-medium;
  margin: 0 3rem 0 1rem;
  font-weight: 500;

  @media (max-width: 550px) {
    font-size: $font-size-small;
    margin: 0 1rem 0 0.5rem;
  }
}
